<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout 
              pattern="[%d] [%F:%L] [%-5p] %m%n"/>
        </Console>
        <File name="LogToFile" fileName="gui.log" append = "false">
            <PatternLayout>
                <Pattern>[%d] [%F:%L] [%-5p] %m%n"</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="ConsoleAppender"/>
             <AppenderRef ref="LogToFile"/>
        </Root>
        <Logger name="com.adis.questionnaire.util.GenUID" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
        <Logger name="questionnaire_test.operation.QuestionnaireATExecution" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="LogToFile"/>
        </Logger>
    </Loggers>
</Configuration>